workspace = { members = ["csrc"] }
[package]
name = "atoma-paged-attention"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
candle-core = { version = "0.6.0", features = ["cuda"] }
candle-nn = { version = "0.6.0", features = ["cuda"] }
candle-transformers = { version = "0.6.0", features = ["cuda"] }
csrc = { path = "csrc" }
half = { version = "2.4.1", features = ["num-traits"] }
serde = { version = "1.0.204", features = ["derive"] }
serde_json = "1.0.120"
tracing = "0.1.40"

[dev-dependencies]
candle-examples = { version = "0.6.0", features = ["cuda"] }
hf-hub = "0.3.2"
rand = "0.8.5"
serde_json = "1.0.120"
serial_test = "3.1.1"
tokenizers = "0.19.1"
