workspace = { members = ["csrc"] }
[package]
name = "atoma-paged-attention"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
candle-core = "0.6.0"
candle-transformers = { git = "https://github.com/huggingface/candle", package = "candle-transformers", branch = "main" }
csrc = { path = "csrc" }
